

@import 'bootstrap';
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "./variables";
@import "../node_modules/bootstrap/scss/mixins";

html {
	position: relative;
	min-height: 100%;
}
body {
	padding-bottom: 60px;
	overflow-x: hidden;
	background: $body-bg;
}

@import "./left-menu";
@import "./topbar";
@import "./footer";
@import "./layouts";
@import "./helper";