html {
	position: relative;
	min-height: 100%;
}
body {
	padding-bottom: 60px;
	overflow-x: hidden;
}

//Core files
@import 'bootstrap';
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "./variables";
@import "./left-menu";
@import "./topbar";
@import "./footer";
@import "./layouts";